# frozen_string_literal: true

require "test_helper"
require "day_<%= number %>"

class Day<%= number %>Test < Minitest::Test
  def test_part1
    day = Day<%= number %>.new

    assert_equal 1, day.part1(input("day_<%= number %>_example_1"))
    assert_equal 1, day.part1(input("day_<%= number %>"))
  end

  def test_part2
    day = Day<%= number %>.new

    assert_equal 1, day.part2(input("day_<%= number %>_example_1"))
    assert_equal 1, day.part2(input("day_<%= number %>"))
  end
end
